body
{
    background-color: white;
}
.main
{
    position: relative;
    height: 90vh;
    background-color: white;                
}
.main-background
{
    position: relative;
    width: 100%;
    height: 100px;
}
#cadir
{
    position: absolute;
    width:200px;
    height: 175px;
    transform: translate(-50%,-50%);
    display: inline-block; 
    left:-50px;
    top: -20px;
    transform: scale(1,1);
    transition: 1.5s;
}
#cimen
{
    position: absolute;
    width:10%;
    transform: translate(-50%,-50%);
    display: inline-block;
    width:40%;
    height: 175px;
    left: 180px;
    top: 0px;
    transform: scale(1,1);
    transition: 1.5s;
}
#kayak
{
    position: absolute;
    width:75%;
    height: 175px;
    top:-180px;
    left:10px;
    transition: 1.5s;

}
#selale
{
    position: absolute;
    width:5%;
    transform: translate(-50%,-50%);
    display: inline-block;
    width:40%;
    height: 190px;
    left: 185px;
    top: 0px;
    transform: scale(0,0);
    transition: 1.5s;
}
.background
{
    position: absolute;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(15,111,12,1) 0%, rgba(44,235,0,1) 100%);
    transform: translate(-50%,-50%);
    border-radius: 50%;
    width:90%;
    left:150px; 
    height: 175px;
    top:-10px;
}
.background::after
{
    content: "";
    position: absolute;
    width: 290px;
    transform: translate(-50%,-50%);
    left:130px; 
    height:110px;
    top:45px;
    background-color: white;
    
}
.Card-contanier
{   
    height:450px;
    width: 20%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
#card-camping
{   
    height: 450px;
    width: 100%;       
    box-sizing: border-box;   
    border-radius:15px; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 1.5s; 
    transform:rotateY(0deg);
}
#card-kayaking
{
    position: absolute; 
    transform:rotateY(180deg);
    box-sizing: border-box;   
    border-radius:15px; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 450px;
    width: 100%;  
    top:0px;
    left:0px;
    transition: 1.5s;
    opacity: 0;
}
.activityName
{   
    text-align: center; 
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}
.activityName::before
{
    content:" ";
    width: 80px;
    height: 75px;
    position: absolute;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(15,111,12,1) 0%, rgba(44,235,0,1) 100%);
    border-radius: 50%;
    z-index:-1; 
    left:37%;
    top: 18%;
}
.price_hours
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    letter-spacing: 1px;                    
}
.price
{
    position: relative;
}
.hour
{
    position: relative;
}
.price::after
{
    content:"/";
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
}
.number
{
    font-size: 40px;
}
.Icon1
{
    position: absolute;
    top: 8px;
    left: -12px;
    font-size: 20px;
}
.Icon2
{
    position: absolute;
    top: 8px;
    left: 22px;
    font-size: 20px;
}
.text
{
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin-top: -10px;
    text-align: center;
    margin-bottom: 40px;
    font-family:'Times New Roman', Times, serif;
}
ion-icon
{
    font-size: 30px;
    text-align: center;
    display: block;
    width: 100%;
    margin-bottom: 10px;    
}
.Card-contanier button
{
    display: inline-block;
    width:50%;
    margin-left: 25%;
    height: 30px;
    border-radius: 3px;
    font-family:'Times New Roman', Times, serif;
    color: white;
}
#card-camping button
{
    background-color: rgb(1, 48, 1);
}
#card-camping button:hover
{
    background-color: rgb(1, 193, 1);
    color: rgb(124, 105, 81);
}
#card-kayaking .background
{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,93,222,1) 0%, rgba(0,225,235,1) 100%);
}
#card-kayaking .activityName::before
{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,93,222,1) 0%, rgba(0,225,235,1) 100%);
}
#card-kayaking button
{
    background-color: rgb(2, 2, 63); 
}
#card-kayaking button:hover
{
    background-color: rgb(5, 5, 191);
    color: black;
}
.Buttons
{
    position: absolute;
    top:85%;
    left: 45%;
    transform: translate(-50% -50%);
    z-index: 4;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.Buttons button
{
    background-color:white;
    color: black;
    width: 75px;    
    border: none;
    transition: 1.5s;
    line-height: 30px;
}